<!DOCTYPE html>
<html>
    <head>   
        {{title}}
    </head>
    <link rel='stylesheet' hred='css/style.css'></link>
    <body>
        <h1>{{caption}}</h1>
        <img src="images/Yesterday.png" alt="Yesterday">
    </img>
</html>